/* Mobile Screen */
@media screen and (max-width: 570px) {

    /* Navbar section responsive */
    nav {
        /* flex-direction: column; */
        justify-content: space-between;
        align-items: center;
    }
    nav .nav-logo{
        width: 50%;
        justify-content: center;
        margin-left: 50px;
    }
    .nav-items-container{
        display: none;
    }
    .nav-items-container ul {
        flex-direction: column;
        gap: 20px;
    }
    nav .menu-icon{
        display: block;
    }

    /* Banner section responsive */
    .banner {
        flex-direction: column;
        gap: 15px;
    }
    .banner .banner-content {
        width: 100%;
        order: 2;
    }
    .banner .banner-img{
        width: 100%;
        order: 1;
    }
}